.login{
  // width: 375px;
  height: 100%;
  // border: 1px solid #111;
  // display: flex;
  // align-items: center;
  margin-top: 250px;
  .login-form{
    width: 250px;
    height: 250px;
    margin: auto;
  }
  .btn_ys{
    margin-left: 20px;

  }
}
